header.navbar
  h2 Fitness Tracker 💪

  nav
    a(href="/") Home
    a(href="/workout") Workouts
    a(href="/quotes") Food

  .categories
    span Chest
    span Back
    span Legs
    span Arms
    span Abs