header.navbar
  h2 Fitness  💪

  nav
    a(href="/") Home
    a(href="/workout") Workouts
    a(href="/quotes") Quotes

  .categories
    span Chest
    span Back
    span Legs
    span Arms
    span Abs