html
  head
    title Home
    link(rel="stylesheet", href="/style.css")

      header.navbar
      h2 Fit For Future

      nav
    a(href="/") Home
    a(href="/workout") Workouts
    a(href="/quotes") Quotes

