doctype html
html
  head
    title Home
    link(rel="stylesheet", href="/style.css")

  body
        header.navbar
        a.logo(href="/")
            h2 Fit For Future

        nav
            a(href="/") Home
            a(href="/quotes") Quotes