const express = require("express");
const router = express.Router();
const axios = require("axios");

router.get("/", async (req, res) => {
  try {
    // Quotes API
    const quoteRes = await axios.get("https://type.fit/api/quotes");
    const quotes = quoteRes.data.slice(0, 5);

    const banners = quotes.map((q, index) => ({
      id: index,
      text: q.text,
      author: q.author || "Unknown",
      image: `https://source.unsplash.com/1600x600/?fitness,gym,workout&sig=${index}`
    }));

    // Workout API
    const workoutRes = await axios.get(
      "https://wger.de/api/v2/exerciseinfo/?language=2&limit=20"
    );

    const exercises = workoutRes.data.results || [];

    res.render("home", {
      banners,
      exercises
    });

  } catch (error) {
    console.log(error);
    res.render("home", {
      banners: [],
      exercises: []
    });
  }
});

module.exports = router;