doctype html
html
  head
    title Fitness Tracker
    link(rel="stylesheet", href="/style.css")
  body
    .container
      h1 Fitness Tracker 💪

      p Your smart fitness & motivation companion

      a(href="/workout") View Workouts
      a(href="/quotes") Get Motivation