doctype html
html
  head
    title Fitness Tracker
    link(rel="stylesheet", href="/style.css")
  body
    h1 Fitness Tracker 💪

    a(href="/workout") Workout
    br
    a(href="/quotes") Motivation