meta(name="viewport" content="width=device-width, initial-scale=1")
script.
  function showLoading() {
      document.getElementById("loading").style.display = "block";
  }

  div#loading(style="display:none; font-weight:bold;")
  | Loading...