doctype html
html
  head
    title Motivation
    link(rel="stylesheet", href="/style.css")
  body
    .container
      h1 Daily Motivation 🧠

      a(href="/") Home
      a(href="/quotes") New Quote

      .quote
        p "#{quote.q}"
        h4 — #{quote.a}