doctype html
html
  head
    title Workout
    link(rel="stylesheet", href="/style.css")

  body
    .container
      h1 Workout Exercises 💪

      a(href="/") Home

      each ex in exercises
        .card

          - var name = "No name";
          - var desc = "No description available";
          - var img = "";

          if ex.translations && ex.translations.length > 0
            - name = ex.translations[0].name;
            - desc = ex.translations[0].description;

          if ex.images && ex.images.length > 0
            - img = ex.images[0].image;

          if img
            img.exercise-img(src=img)

          h3= name
          p!= desc