doctype html
html
  head
    title Workout
    link(rel="stylesheet", href="/style.css")

  body
    .container
      h1 Workout Exercises 💪

      a(href="/") Home

      each ex in exercises
        .card
          h3= ex.translations?.[0]?.name || "No name"

          if ex.translations && ex.translations.length > 0
            p!= ex.translations[0].description
          else
            p No description available