doctype html
html
  head
    title Workout
    link(rel="stylesheet", href="/style.css")
  body
    .container
      h1 Workout Exercises 💪

      a(href="/") Home

      if exercises.length
        each ex in exercises
          .card
            h3= ex.name
            p= ex.description
      else
        p No exercises found